@CHARSET "UTF-8";

/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.rightArea{float:right;}

/*topBar*/
.topBar{height:31px;background-color:#F7F7F7;line-height:31px;}
.topBar a:hover{color:blue;}
/*logo*/
.logoBar{height:85px;background-color:#FFF;}
.logo{padding-left:41px;padding-top:20px;}
.logozi{font-size:35px;color:red;font-weight:bold;}
.logoBar1{height:85px;background-color:#DDDDC4;}
.logo1 img{padding-top:2.5px;}
/*ssorder*/
.ssorder{width:1000px;margin-left:auto;margin-right:auto;}
.jian-order{padding-left:41px;padding-top:50px;padding-bottom:20px;}
.jian-left-order{padding-bottom:10px;line-height:20px;}
.ssprice{font-size:15px;font-family:"微软雅黑";}
em{color:red;}
.addr-order{padding-left:41px;margin-top:40px;line-height:20px;}
/*payment*/
.payment{width:1000px;margin:150px auto;background-color:#FFF;padding-top:35px;padding-bottom:35px;}
.pay1 {padding-left:100px;}
.paysubmit{padding-left:100px;}
.cardstyle{font-size:14px;font-weight:bold;}
.paymz{padding-top:200px;}
.pay1{line-height:20px;}
.paysubmit{margin-top:40px;}
.paysubmit a:hover{color:red;}
.tijiao-btn{background-color:red;width:100px;height:50px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑";}
/*footer*/
.footer{height:100px; text-align:center;background-color:#d4d4d4;}
.footer p{padding-top:50px;font-size:14px;}
.footer a{color:#000;font-size:14px;}
.footer a:hover{color:#red;}


/*regist*/
.reg-logo .comWidth{width:630px;}
.welcom_title{font:22px/85px "Microsoft YaHei","微软雅黑";color:#fff;float:left;padding-left:24px;}
.regBox{width:628px;margin:10px auto;border:#CCC solid 1px;}
.reg-cont{padding:15px 76px;}
.reg-input{border:#999 solid 1px;height:32px;lline-height:32px\9;width:100%;text-indent:5px;}
.checked{position:relative;top:3px;margin-right:3px;}
.reg-item{font:14px/34px "宋体";width:110px;text-align:right;float:left;}
.reg-item i{color:red;font-style:normal;margin-right:5px;}
.input-item{width:306px;float:left;}
.regBox li{height:70px;vertical-align:top;}
.regBox .autoReg{height:46px;padding:0;}
.regBox .reg-cont{padding:35px 76px 20px 76px;}
.reg-btn{width:309px;height:36px;font-size:20px;}



/*退货*/
.qq1{background-color: #BDBDBD;padding-bottom: 10px;}
.qq0{color: #ff0000;;width: 100px;height: 20px;margin: 0 auto;}
.qq01{color: #ff0000;text-align: center;padding-bottom: 0;}
.qq2{width: 600px;margin: 0 auto;padding-top: 10px;}
.qq3{display: inline-block;padding-top: 50px;}
.qq4{display: inline-block;padding-top: 10px;}
.qq5{padding-left: 170px;width: 300px;padding-top: 10px;}
.yuanyin{padding-left: 90px;}
.yuan{padding-left: 94px;}
.qq7{width: 50px;margin: 0 auto;padding-top: 20px;}


